<?xml version="1.0"?>
<appSettings>
  <add key="QISVirtualDirectory" value="http://localhost/medinfrasv2.1/appData/dev/" />
  <add key="QISPhysicalTempDirectory" value="C:\_MyFiles\_app\appData\dev\Report\" />
  <add key="QISPhysicalUploadExcelTempDirectory" value="C:\_MyFiles\_app\appData\dev\Report\" />
  <add key="QISPhysicalDirectory" value="C:\_MyFiles\_app\appData\dev\" />
  <add key="QISAppVirtualDirectory" value="http://localhost/medinfrasv2.1/dev" />
  <add key="QISLibsPhysicalDirectory" value="C:\_MyFiles\_src\VS2010\ms_rssy_202403_01\QIS.Medinfras.Web.CommonLibs" />
  <add key="QISHealthcareName" value="DEMO HOSPITAL" />
  <add key="QISNameFormat" value="FirstName MiddleName LastName" />
  <add key="QISGuestImagePath" value="Guest/#GUESTNO/" />
  <add key="QISPatientImagePath" value="Patient/#MRN/" />
  <add key="QISBodyDiagramImagePath" value="BodyDiagram/" />
  <add key="QISPatientBodyDiagramImagePath" value="Patient/#MRN/Image/BodyDiagram/" />
  <add key="QISPatientImagingImagePath" value="Patient/#MRN/Image/Imaging/" />
  <add key="QISPatientDocumentsPath" value="Patient/#MRN/Document/" />
  <add key="QISBusinessPartnerLogoPath" value="BusinessPartner/#BusinessPartnerCode/" />
  <add key="QISFinanceUploadDocument" value="Finance/Upload/" />
  <add key="QISMCUResultForm" value="MCUResultForm/" />
  <add key="QISParamedicImagePath" value="Paramedic/" />
  <add key="QISItemImagePath" value="ItemMaster/#ItemCode/" />
  <add key="QISMRNFormat" value="**-**-**-**" />
  <add key="QISWristbandType" value="ECONOMY" />
  <add key="QISInfantWristbandType" value="SOFT" />
  <add key="QISMRLabelType" value="Label_8x3" />
  <add key="DrugLabelSize" value="Label_8x3" />
  <add key="BPJSDemoMode" value="0" />
  <add key="PreviewReportInPDF" value="1"/>

  <add key="ErrorReportEmail" />
  <add key="ErrorReportEmailServer" />
  <add key="SimpleErrorReportPage" value=" " />
  <add key="RichErrorReportPage" value="Error.aspx" />
  <add key="EnableDiagnosticActions" value="False" />
  <add key="URLOnlineHelp" value="file:///D:/XPO%20Manual/HTML/index.html" />
  <add key="DXEnableThemesAssembly" value="False"/>
</appSettings>