<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ReportViewerApp" value="E:\_src\medinfrasv2.1\QIS.Medinfras.ReportViewer\bin\Release\QIS.Medinfras.ReportViewer.exe"/>
  <add key="QISAppVirtualDirectory" value="http://10.11.106.33/medinfras/rsaj/" />
  <add key="URL_UPDATE" value="http://localhost/update" />
</appSettings>