*                               { font-family: Segoe UI,"Open Sans", Calibri, Arial, Helvetica, sans-serif }
body                            { padding:0px; margin:0;height:100%; max-width:100%; width:100%; overflow-x: hidden; }
html { font-size: 62.5%; }
body { font-size: 0.85em;}

@media (max-width: 300px) {
    html { font-size: 40%; }
}

@media (min-width: 500px) {
    html { font-size: 60%; }
}

@media (min-width: 700px) {
    html { font-size: 70%; }
}

@media (min-width: 900px) {
    html                    { font-size: 78%; }
    .dxpcContent            { font-size: 1em; }
}

@media (min-width: 1200px) {
    html                    { font-size: 100%; }
    .grdView, .grdSelected, .grdCollapsible { font-size:1em; }
    .grdSelected .grdSelected               { font-size:1em; }
    .dxpcContent            { font-size: 1.15em; }
    .dxpcContent .grdView   { font-size:1em; }
}


.containeruserlogininfo     { float: right; margin: -3px 10px 0 0; font-size: 1.1em; padding-top: 3px; }
.userlogininfo              { cursor: pointer; padding: 1px 2px; }
.borderBox                      { -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }
.boxShadow                      { box-shadow: 5px 5px 10px #888888; }
.userlogininfodetail        { width: 220px; height: 80px; position: absolute; right: 0; display: none; z-index: 10000; box-shadow: 5px 5px 10px #888888; }
.hospitalName               { font-size: 1.5em; }
.menuTitle                      {font-size: 16pt;vertical-align:middle;float:right}

div.ui-datepicker               { font-size:12px; }
input.datepicker                { text-align: center; }
.ui-datepicker-trigger          { margin-bottom: -5px;  }

/* #region Login */
.loginBg                                        { width: 100%; padding: 2px 20px; font-size: 2.5em; margin-bottom: 10px; }
.loginContainerLoginInfo table td:first-child   { text-align: right; padding-right: 10px; min-width: 150px;  }
.loginContainerLoginInfo table td + td          { padding-right: 10px;  }
.loginContainerLoginInfo table td               { font-size: 1em; }
.loginContainerLoginInfo input[type=button]     { padding: 1px 20px; }
.loginContainerLoginInfo                        { opacity: 0.6; padding: 3px; }
#loginUlListModule                              { padding: 0; margin: 0; width: 700px; }
#loginUlListModule li                           { height: 100%; list-style-type: none; display: inline-block; margin: 0; margin-bottom: 10px; width: 130px; }
#loginUlListModule li img                       { width: 100%; }
#loginUlListModule li div                       { opacity: 0.6; font-size: 0.35em; background-color: #555; color: #FFF; text-align: center; padding: 5px 0; width: 100%; }
#loginUlListModule li div.enabled               { opacity: 1; }
#loginUlListModule li img                       { opacity: 0.6; margin: 0; padding: 0; display: block; margin-bottom: 4px; cursor:auto; }
#loginUlListModule li img.enabled               { opacity: 1; cursor: pointer; }
#loginUlListModule li.enabled:hover             { box-shadow: 0px 0px 10px #444; }
#loginFooter                                    { font-size: 0.8em; margin-top: 0px; color: #666; }
        
.pnlUserLoginInformation                        { font-size: 1.4em; height: 85px; padding-top:2px; padding-left: 20px; } 
.lnkLogout                                      { color: #FFF; text-decoration: none; font-size: 0.9em; cursor: pointer; clear:both; }
.lnkLogout:hover                                { text-decoration: underline; }
/* #endregion */

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: none;
}
.ui-menu .ui-menu {
	margin-top: -3px;
	position: absolute;
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	width: 100%;
}
.ui-menu .ui-menu-divider {
	margin: 5px -2px 5px -2px;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 2px .4em;
	line-height: 1.5;
	min-height: 0; /* support: IE7 */
	font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

.ui-menu .ui-state-disabled {
	font-weight: normal;
	margin: .4em 0 .2em;
	line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
	cursor: default;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item a {
	position: relative;
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: .2em;
	left: .2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	position: static;
	float: right;
}

/* #region Drop Down Menu */
.containerDropDownMenu  { width: 100%; height: 25px; padding-left: 5px;margin-top: -5px; }
.sf-menu, .sf-menu *    { margin: 0; padding: 0; list-style: none; font-family: Segoe UI; font-size: 1.02em; }
.sf-menu                { line-height:	1.1; }
.sf-menu ul             { position:	absolute; top: -999em; width: 18em; }
.sf-menu ul li          { width: 100%; }
.sf-menu li:hover       { visibility: inherit; }
.sf-menu li             { float: left; position: relative; }
.sf-menu a              { display: block; position:	relative; font-size:0.9em; }
.sf-menu li:hover ul,
.sf-menu li.sfHover ul  { left: 0; top: 1.6em; z-index:	99; }
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul { top: -999em; }
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul { font-size: 14px; left: 17.5em; top: 0; }
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul { top: -999em; }
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul { left: 18em; top: 0; }
.sf-menu                { float: left; margin-bottom: 1em; }
.sf-menu ul             { box-shadow: 2px 2px 6px rgba(0,0,0,.2); }
.sf-menu a              { padding: .3em 1em .6em 1em; }
.sf-menu a, .sf-menu a:visited  { text-decoration:none; }

.sf-menu a:hover, .sf-menu li:hover { text-decoration:underline; }
.sf-menu a.sf-with-ul   { padding-right: 2.25em; min-width:	1px; }
.sf-sub-indicator       { position:	absolute; display: block; right: 0.75em; top: 1.05em; width: 10px; height: 10px;	text-indent: -999em; overflow: hidden; background: url('../Images/DropDownMenu/arrows-ffffff.png') no-repeat -10px -100px; }
a > .sf-sub-indicator   { top: .45em; background-position: 0 -100px; }

a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator { background-position: -10px -100px; }

.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }

.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator { background-position: -10px 0; }
/* #endregion */
.fsMPEntry2 { padding: 0 !important; }

.notifbadge { color: white; text-decoration: none; padding: 5px 5px; position: relative; display: inline-block; border-radius: 10px; }
.notifbadge:hover { background: orange; }
.notifbadge .badge { position: absolute; top: -5px; right: -5px; padding: 3px 3px; border-radius: 50%; background-color: red; color: white; }